banco_de_dados.py 
python_ao_java.py 
README.md 
.idea 
.venv 
__pycache__ 
Classes 
Código-fonte exemplo (funções)
Dicionários 
Exercícios de treino 
Funções 
JSON 
Listas 
Matrizes 
Tuplas
Gestor_portifólio/Diário_de_bordoIA.md